.Navbar{
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(35, 51, 66);
}

.Navbar__brand{
    color:#ffffff;
    display: flex;
    align-items: center;
    
}

.Navbar__brand-logo{
    margin-right: 0.3rem;
    height: 40px;
}

.Navbar__size{
    font-size: 1.3rem;
    margin:0 2rem;
}

.Avatar__usuario{
    width: 30px; 
    height: 30px;
    border-radius: 60%;
}

.Correo__usuario{
    display: block;
    margin:0 2rem;
    margin-left: auto;
}
