

.Sesion {
    background: #768181;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 380px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }
  
  .Sesion__header {
    padding: 0.4rem 0;
    height: 40px;
    background: #1b1b25;
    display: flex;
    justify-content: center;
    color:white;
  }
      
  .Sesion__section-name {
    padding: 2rem;
    margin-top: 2rem;
    color:white;
  }
  
  .button__inicio{
    width: 100%;
  }